<!doctype html>
<html ng-app='toDoApp'>
<head>
  <title>Simple page</title>
  <script src="assets/js/angular.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/controllers.js"></script>
  <script src="assets/js/todofactory.js"></script>
  <script src="assets/js/todofetcher.js"></script>
</head>
<body>
  <h1>ToDo List</h1>
  <div ng-controller="ToDoController as ctrl">
    <ul>
      <li ng-repeat="todo in ctrl.todos">
        {{todo.text}}: {{todo.completed ? "completed" : "not completed"}}
        <button ng-click="todo.complete();">Complete</button>
        <button ng-click="ctrl.removeToDo(toDo)">Remove ToDo</button>
      </li>
    </ul>
    <input type='text' ng-model='toDo'>
    <button ng-click="ctrl.addToDo(toDo)">Add ToDo</button>
  </div>
</body>
</html>
